{% extends 'accounts/landing.html' %}
{% block title%}
<title>Message</title>
{% endblock %}

{% load static %}

{% block content %}
{% load widget_tweaks %}


    <div class="container align-items-center min-vh-70">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5">
                <form action="" method="post">
                    <div class="card card-body shadow">
                        {% csrf_token %}

                        <h3 class="text-center mb-4">Make a Suggestion</h3>

                        <!-- <div class="mb-3">
                            <label class="form-label">Your Email</label>
                            <input type="email" class="form-control" value="{{ user_email }}">
                        </div> -->

                        <div class="mb-3">
                            <!-- <label for="{{ form.message.id_for_label }}" class="form-label">
                                {{ form.message.label }}
                            </label> -->
                            {{ form.message|add_class:"form-control" }}
                        </div>
                        <div class="d-grid btn-group-custom mt-2">
                            <button type="submit" class="btn btn-primary">
                                Send <i class="bi bi-send ms-2"></i>
                            </button>
                            <a href="{% url 'landing' %}" class="btn btn-danger mt-2"> Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<style>
    body {
        background-color: #f4f1f8;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 700;
    }

    .card {
        background-color: #f0f8ff;
        border-radius: 0.5rem;
    }

    .shadow {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }

    .col-md-6 {
        margin-top: 13rem;
    }
</style>
{% endblock %}